input#searchParam {
  width: 19%;
      /* border: blueviolet; */
    /* border-bottom: 1px solid #9e9e9e; */
    border-radius: 10;
    height: 2rem;
    padding: 7px;
}

.brand-logo{
  left: 0px;
}
.upperNav{
  height: 213px;
  line-height:36px
}

span{
  line-height: 43px;
}

i{
  margin-top: -12px;

}

.searchBox{
  margin-top:47px
}

h6{
  font-weight: 900;

}
  br{
    line-height: 41px;
  }